
<div fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
  <h1 fxFlex="1 0 auto">{{label}}</h1>

  <mat-form-field fxFlex="200px" (mouseenter)="openAttrb(attributesSelect)" [autofocus]="false" >
    <mat-select [hideSingleSelectionIndicator]="false" #attributesSelect [(value)]="currentIndex" style="z-index: 999999" [placeholder]="data[currentIndex].name" [ngClass]="'carosel-select'">
      <span *ngFor="let attribute of data; index as i">
        <mat-option *ngIf="i!==currentIndex" [value]="i">{{attribute.name}}</mat-option>
      </span>
    </mat-select>
  </mat-form-field>

  <span fxFlex="2 0 auto" fxLayoutAlign="center" fxLayout="row" fxLayoutGap="20px">
    <p *ngFor="let d of data[currentIndex].descriptions" >
      {{d}}
    </p>
  </span>

  
</div>