<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Contact</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>How to get in Contact with me</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      I would love to get in touch if you have any questions or comments about my work, or if anything else is on your mind!
    </p>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>Socials</div>
        <a href="https://github.com/johnsimmons2/" target="_blank" matListItemLine>github/johnsimmons2</a>
        <a href="https://www.linkedin.com/in/jdsimmons1/" target="_blank" matListItemLine>linkedin/jdsimmons1</a>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Email</div>
        <div matListItemLine>jsim247@gmail.com</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Phone</div>
        <div matListItemLine>(903)-258-5884*</div>
        <span matListItemMeta>*Please text, email, or leave a message first!</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
