<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>About me</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>What courses have I taken, More Info etc.</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>
      This part of the site is still under construction, please check back later for more information. For now, to see information relating to my skillsets please check out my <a href="https://www.linkedin.com/in/jdsimmons1/" target="_blank">LinkedIn profile</a>.
    </h3>
    <h2>
      Courses
    </h2>
    <p>
      Through my period of time at UMHB I have taken the following classes:
    </p>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>Math & Physics</div>
        <div matListItemLine>Ordinary Differential Equations</div>
        <div matListItemLine>Partial Differential Equations</div>
        <div matListItemLine>Foundations of Higher Mathematics*</div>
        <div matListItemLine>Physics With Calculus I & II</div>
        <div matListItemLine>Calculus I - III</div>
        <div matListItemLine>Linear Algebra</div>
        <span matListItemMeta>*Foundational class for proofs and mathematical notations</span>
      </mat-list-item>
      <br/>
      <mat-list-item>
        <div matListItemTitle>Various Programming Classes</div>
        <div matListItemLine>Object Oriented Programming</div>
        <div matListItemLine>Computer Security</div>
        <div matListItemLine>Operating Systems</div>
        <div matListItemLine>Big Data & Data Analysis</div>
        <div matListItemLine>Networking</div>
        <div matListItemLine>Algorithms*</div>
        <div matListItemLine>Software Engineering*</div>
        <div matListItemLine>Computer Science Thoery*</div>
        <span matListItemMeta>*Taken at a graduate level</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
