:root {
  --js-white: #eeeeee;
  --js-dark: #040f0f;
  --js-primary: #040F16;
  --js-secondary: #618985;
  --js-primary-soft: #606F80;
  font-family: 'URW Bookman L', serif;
}

html {
  background-color: var(--js-primary-soft);
  overflow-x: hidden;
}

#app {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--js-primary);
}

h1 {
  font-size: 5rem;
  user-select: none;
}

h2 {
  font-size: 3rem;
  user-select: none;
}